@model BasicProje.Entity.Product
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>UpdateProduct</h1>

<form method="post">
	@Html.Label("Ürün ID");
	@Html.TextBoxFor(x=>x.Id, new{@class="form-control"})
	<br />
	@Html.Label("Ürün Adı");
	@Html.TextBoxFor(x=>x.Name, new{@class="form-control"})
	<br />
	@Html.Label("Ürün Fiyat");
	@Html.TextBoxFor(x=>x.Price,new{@class="form-control"})
	<br />
	@Html.Label("Ürün Stok");
	@Html.TextBoxFor(x=>x.Stock,new{@class="form-control"})
	<br />
	<button class="btn btn-info">Güncelle</button>
</form>

